In [1]:
import pandas as pd
import numpy as np

In [9]:
lst=['d','o','c','t','e','r']

In [10]:
pd.Series(lst)

0    d
1    o
2    c
3    t
4    e
5    r
dtype: object

In [13]:
lst2=['m','r','m','b','b','s']

In [14]:
pd.Series(data=lst,index=lst2)

m    d
r    o
m    c
b    t
b    e
s    r
dtype: object

In [15]:
d={'a':'l','b':2,'c':3}

In [16]:
pd.Series(d)

a    l
b    2
c    3
dtype: object

In [24]:
cric=['dhoni','kholi','kl','rohit']

In [36]:
plyrs=pd.Series(data=cric,index=[1,2,3,4])

In [37]:
plyrs

1    dhoni
2    kholi
3       kl
4    rohit
dtype: object

In [44]:
avg=pd.Series(avngrs)

In [45]:
avngrs=['ironman','captain','thor','groot']

In [46]:
avg

0    ironman
1    captain
2       thor
3      groot
dtype: object

In [47]:
avg+plyrs

0             NaN
1    captaindhoni
2       thorkholi
3         grootkl
4             NaN
dtype: object

In [48]:
from numpy.random import randn

In [51]:
df=pd.DataFrame(randn(5,5),index='A B C D E'.split(),columns='P Q R S T'.split())

In [52]:
df

          P         Q         R         S         T
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639
B  0.636918  0.368031 -0.579871 -0.964084  2.330050
C -0.004676 -0.564868 -1.552068  0.214329  0.014640
D -0.117046 -0.218700  0.789854  0.504875  0.163725
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487

In [66]:
df['P']

A    0.352613
B    0.636918
C   -0.004676
D   -0.117046
E    0.438306
Name: P, dtype: float64

In [67]:
df[['P','Q']]

          P         Q
A  0.352613 -0.843588
B  0.636918  0.368031
C -0.004676 -0.564868
D -0.117046 -0.218700
E  0.438306 -0.431842

In [72]:
df['U']=df['P']-df['Q']

In [74]:
df

          P         Q         R         S         T         u         U
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200  1.196200
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887  0.268887
C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193  0.560193
D -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654  0.101654
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149  0.870149

In [77]:
df.drop('u',axis=1,inplace=True)

In [78]:
df

          P         Q         R         S         T         U
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887
C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193
D -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149

In [79]:
df.drop('D',axis=0)

          P         Q         R         S         T         U
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887
C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149

In [81]:
df.loc['D']

P   -0.117046
Q   -0.218700
R    0.789854
S    0.504875
T    0.163725
U    0.101654
Name: D, dtype: float64

In [83]:
df.iloc[3]

P   -0.117046
Q   -0.218700
R    0.789854
S    0.504875
T    0.163725
U    0.101654
Name: D, dtype: float64

In [84]:
df.loc['A','P']

0.35261272723594733

In [85]:
df.loc[['A','B'],['P','Q']]

          P         Q
A  0.352613 -0.843588
B  0.636918  0.368031

In [86]:
df>0

       P      Q      R      S      T     U
A   True  False   True  False  False  True
B   True   True  False  False   True  True
C  False  False  False   True   True  True
D  False  False   True   True   True  True
E   True  False  False  False  False  True

In [88]:
df[df<0]

          P         Q         R         S         T   U
A       NaN -0.843588       NaN -1.074331 -0.542639 NaN
B       NaN       NaN -0.579871 -0.964084       NaN NaN
C -0.004676 -0.564868 -1.552068       NaN       NaN NaN
D -0.117046 -0.218700       NaN       NaN       NaN NaN
E       NaN -0.431842 -0.837850 -0.286802 -1.950487 NaN

In [94]:
df[df['P']>0]

          P         Q         R         S         T         U
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149

In [96]:
df[df['P']>0][['P','Q']]

          P         Q
A  0.352613 -0.843588
B  0.636918  0.368031
E  0.438306 -0.431842

In [98]:
df[(df['P']>0) & (df['R']>1)]

Empty DataFrame
Columns: [P, Q, R, S, T, U]
Index: []

In [99]:
df

          P         Q         R         S         T         U
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887
C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193
D -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149

In [100]:
df.reset_index()

  index         P         Q         R         S         T         U
0     A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200
1     B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887
2     C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193
3     D -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654
4     E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149

In [122]:
df['Index']=lst

In [123]:
lst='aa bb cc dd ee'.split()

In [124]:
df

          P         Q         R         S         T         U Index   l
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200    aa  aa
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887    bb  bb
C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193    cc  cc
D -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654    dd  dd
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149    ee  ee

In [125]:
df.set_index('Index')

              P         Q         R         S         T         U   l
Index
aa     0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200  aa
bb     0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887  bb
cc    -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193  cc
dd    -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654  dd
ee     0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149  ee

In [126]:
df

          P         Q         R         S         T         U Index   l
A  0.352613 -0.843588  0.812889 -1.074331 -0.542639  1.196200    aa  aa
B  0.636918  0.368031 -0.579871 -0.964084  2.330050  0.268887    bb  bb
C -0.004676 -0.564868 -1.552068  0.214329  0.014640  0.560193    cc  cc
D -0.117046 -0.218700  0.789854  0.504875  0.163725  0.101654    dd  dd
E  0.438306 -0.431842 -0.837850 -0.286802 -1.950487  0.870149    ee  ee

outside=['g1','g1','g1','g2','g2','g2']
inside=[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [133]:
outside=['g1','g1','g1','g2','g2','g2']
inside=[1,2,3,1,2,3] 
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [134]:
hier_index

MultiIndex([('g1', 1),
            ('g1', 2),
            ('g1', 3),
            ('g2', 1),
            ('g2', 2),
            ('g2', 3)],
           )

In [142]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
g1 1 -0.176298  2.088626
   2  0.513848 -0.566434
   3 -1.038499  0.553313
g2 1  0.502946  0.773020
   2  0.801761 -0.059778
   3 -0.439541  0.659131

In [143]:
df.loc['g1']

          A         B
1 -0.176298  2.088626
2  0.513848 -0.566434
3 -1.038499  0.553313

In [146]:
df.loc['g2'].loc[2]

A    0.801761
B   -0.059778
Name: 2, dtype: float64

In [147]:
df.index.names

FrozenList([None, None])

In [150]:
df.index.names = ['grp','num']

In [151]:
df

                A         B
grp num
g1  1   -0.176298  2.088626
    2    0.513848 -0.566434
    3   -1.038499  0.553313
g2  1    0.502946  0.773020
    2    0.801761 -0.059778
    3   -0.439541  0.659131

In [152]:
df.xs(['g1',2])

A    0.513848
B   -0.566434
Name: (g1, 2), dtype: float64

In [153]:
df.loc['g1'].loc[2]

A    0.513848
B   -0.566434
Name: 2, dtype: float64

In [158]:
df.xs(3,level='num')

            A         B
grp
g1  -1.038499  0.553313
g2  -0.439541  0.659131

In [166]:
df.xs(['g1'],drop_level=True)

            A         B
num
1   -0.176298  2.088626
2    0.513848 -0.566434
3   -1.038499  0.553313